<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949250973222-0c377f76ec5e0f1aec10e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949250973222-0c377f76ec5e0f1aec10e7</string>
	<key>API_KEY</key>
	<string>AIzaSyC4bujAq94LoDg1aPiv2aG3YMEKztGeAIU</string>
	<key>GCM_SENDER_ID</key>
	<string>949250973222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akari.versetech.net</string>
	<key>PROJECT_ID</key>
	<string>akari-ae5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>akari-ae5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:949250973222:ios:0c377f76ec5e0f1aec10e7</string>
</dict>
</plist> 